# vim: ft=yaml softtabstop=2 tabstop=2 shiftwidth=2 expandtab autoindent

gogs:
  hostname: gogs.example.com
  version: 0.9.13
  hash: sha1=60bade76e3a6500e419c159a67045689e6ff5a5d
  nginx:
    proxy:
      ip: 127.0.0.1
      port: 3000
    ssl_cert: /etc/nginx/ssl/nginx.pem
    ssl_key: /etc/nginx/ssl/nginx.pem
