#
#  upstart script for gogs (Go Git Service)
#

description "gogs upstart script"

start on (local-filesystems and net-device-up)
stop on shutdown

console output

setuid git
setgid git

env USER=git

script
  export HOME=/home/$USER
  chdir /opt/gogs
  exec ./gogs web > /var/log/gogs/web.log
end script
